# to avoid mis-commiting secret files, by default we ignore all the files.
# To add encrypted files to git index either define them as an exception in this .gitignore file (e.g. with ! ),
# or add them explicitly using git comand:
# git add -f travis-build-settings.sh.enc

*

# list files which expected to be safe to add to the repository, for example, encrypted files
# or files without sensitive data

!.gitignore
!*.enc
